
!/Users/dor.cohen/AndroidStudioProjects/Temp/app/src/main/java/com/example/trialapp/
!/Users/dor.cohen/AndroidStudioProjects/Temp/app/src/main/res/layout/
!/Users/dor.cohen/AndroidStudioProjects/Temp/app/src/main/res/drawable/
/Users/dor.cohen/AndroidStudioProjects/Temp/
app/
idea/workspace.xml


